.pagination
	&__inner
		padding: 10px 0 20px
	&__list
		display: flex
		justify-content center
		align-items center
		
	&__item
		cursor pointer
		margin: 5px
		border 1px solid #ddd
		border-radius 5px
		box-sizing border-box
		width: 40px
		height: 40px
		text-align: center
		font-size: 18px
		line-height: 38px
		transition all .3s
		text-decoration none
		color #000
		&:hover
			background #f1f1f1
		&.active
			background #41b883
			color #fff